<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>IPSMIGRATE_M</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>ProcessAcct_M</display-name>
		<servlet-name>ProcessAcct_M</servlet-name>
		<servlet-class>com.ips.servlet.ProcessAcct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessAcct_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/ProcessAcct</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>InvoicePayment_M</display-name>
		<servlet-name>InvoicePayment_M</servlet-name>
		<servlet-class>com.ips.servlet.InvoicePayment</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>youssef.shatila@systembind.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvoicePayment_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/InvoicePayment</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ReviewPayment_M</display-name>
		<servlet-name>ReviewPayment_M</servlet-name>
		<servlet-class>com.ips.servlet.ReviewPayment</servlet-class>
		<init-param>
			<param-name>emailDelete</param-name>
			<param-value>invoicefollowup@invoicepayment.ca</param-value>
		</init-param>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewPayment_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/ReviewPayment</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateInvoice_M</display-name>
		<servlet-name>UpdateInvoice_M</servlet-name>
		<servlet-class>com.ips.servlet.UpdateInvoice</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateInvoice_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/UpdateInvoice</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ReportGenerator_M</display-name>
		<servlet-name>ReportGenerator_M</servlet-name>
		<servlet-class>com.ips.servlet.ReportGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportGenerator_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/ReportGenerator</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ReportGeneratorf_M</display-name>
		<servlet-name>ReportGeneratorf_M</servlet-name>
		<servlet-class>com.ips.servlet.ReportGeneratorf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportGeneratorf_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/ReportGeneratorf</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>AdminReport_M</display-name>
		<servlet-name>AdminReport_M</servlet-name>
		<servlet-class>com.ips.servlet.AdminReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminReport_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/AdminReport</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AdminReportf_M</display-name>
		<servlet-name>AdminReportf_M</servlet-name>
		<servlet-class>com.ips.servlet.AdminReportf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminReportf_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/AdminReportf</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DeletedInvoice_M</display-name>
		<servlet-name>DeletedInvoice_M</servlet-name>
		<servlet-class>com.ips.servlet.DeletedInvoice</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletedInvoice_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/DeletedInvoice</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeletedInvoicef_M</display-name>
		<servlet-name>DeletedInvoicef_M</servlet-name>
		<servlet-class>com.ips.servlet.DeletedInvoicef</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletedInvoicef_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/DeletedInvoicef</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>GeneratedInvoice_M</display-name>
		<servlet-name>GeneratedInvoice_M</servlet-name>
		<servlet-class>com.ips.servlet.GeneratedInvoice</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>payments@invoicepayment.ca</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneratedInvoice_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/GeneratedInvoice</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>GeneratedInvoicef_M</display-name>
		<servlet-name>GeneratedInvoicef_M</servlet-name>
		<servlet-class>com.ips.servlet.GeneratedInvoicef</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>payments@invoicepayment.ca</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneratedInvoicef_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/GeneratedInvoicef</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProcessAcctf_M</display-name>
		<servlet-name>ProcessAcctf_M</servlet-name>
		<servlet-class>com.ips.servlet.ProcessAcctf</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessAcctf_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/ProcessAcctf</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>InvoicePaymentf_M</display-name>
		<servlet-name>InvoicePaymentf_M</servlet-name>
		<servlet-class>com.ips.servlet.InvoicePaymentf</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>InvoicePaymentf_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/InvoicePaymentf</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ReviewPaymentf_M</display-name>
		<servlet-name>ReviewPaymentf_M</servlet-name>
		<servlet-class>com.ips.servlet.ReviewPaymentf</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewPaymentf_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/ReviewPaymentf</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>UpdateInvoicef_M</display-name>
		<servlet-name>UpdateInvoicef_M</servlet-name>
		<servlet-class>com.ips.servlet.UpdateInvoicef</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateInvoicef_M</servlet-name>
		<url-pattern>/payerFrLive/IPSMIGRATE/UpdateInvoicef</url-pattern>
	</servlet-mapping>
	
</web-app>