<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IPS2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcessAcct</display-name>
    <servlet-name>ProcessAcct</servlet-name>
    <servlet-class>ProcessAcctData.ProcessAcct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessAcct</servlet-name>
    <url-pattern>/ProcessAcct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoicePayment</display-name>
    <servlet-name>InvoicePayment</servlet-name>
    <servlet-class>ProcessAcctData.InvoicePayment</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>youssef.shatila@systembind.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoicePayment</servlet-name>
    <url-pattern>/InvoicePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewPayment</display-name>
    <servlet-name>ReviewPayment</servlet-name>
    <servlet-class>ProcessAcctData.ReviewPayment</servlet-class>
    <init-param>
      <param-name>emailDelete</param-name>
      <param-value>youssef.shatila@systembind.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewPayment</servlet-name>
    <url-pattern>/ReviewPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInvoice</display-name>
    <servlet-name>UpdateInvoice</servlet-name>
    <servlet-class>ProcessAcctData.UpdateInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInvoice</servlet-name>
    <url-pattern>/UpdateInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportGenerator</display-name>
    <servlet-name>ReportGenerator</servlet-name>
    <servlet-class>ProcessAcctData.ReportGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportGenerator</servlet-name>
    <url-pattern>/ReportGenerator</url-pattern>
  </servlet-mapping>
 
  <context-param>
    <param-name>IPS2Path</param-name>
    <param-value>ips2</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>AdminReport</display-name>
    <servlet-name>AdminReport</servlet-name>
    <servlet-class>ProcessAcctData.AdminReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReport</servlet-name>
    <url-pattern>/AdminReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletedInvoice</display-name>
    <servlet-name>DeletedInvoice</servlet-name>
    <servlet-class>ProcessAcctData.DeletedInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletedInvoice</servlet-name>
    <url-pattern>/DeletedInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratedInvoice</display-name>
    <servlet-name>GeneratedInvoice</servlet-name>
    <servlet-class>ProcessAcctData.GeneratedInvoice</servlet-class>
   <init-param>
      <param-name>email</param-name>
      <param-value>youssef.shatila@systembind.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratedInvoice</servlet-name>
    <url-pattern>/GeneratedInvoice</url-pattern>
  </servlet-mapping>
</web-app>